{% extends "base.html" %}
{% block title %}Khata{% endblock %}
{% block body %}
<div class="panel">
<h3>👥 ग्राहक खाते • Khata</h3>
<form class="search" method="get"><input name="q" value="{{q}}" placeholder="शोधा • Search customer"><button class="btn" type="submit">शोध</button></form>
<table><tr><th class="l">ग्राहक</th><th>बिल</th><th>जमा</th><th>बाकी</th><th>बाहेर माल</th><th></th></tr>
{% for e in khata %}
<tr><td class="l"><b>{{e.name}}</b></td><td>{{"{:,.0f}".format(e.billed)}}</td><td>{{"{:,.0f}".format(e.received)}}</td>
<td class="neg">{{"{:,.0f}".format(e.pending)}}</td><td>{{e.outside}}</td>
<td><a class="btn ghost" href="/customer/{{e.name}}">बिल पहा</a></td></tr>
{% endfor %}</table>
</div>
{% endblock %}
